<style type="text/css">
body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  font-weight: Bold;
  color: navy;
}

a:hover {
  text-decoration: none;
  font-weight: Bold;
  color: red;
}

table.box {
  border-collapse: collapse;
  border-spacing: 0px;
}

div.box {
  background-color: pink;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 2px;
}

tr.box {
  background-color: pink;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}

tr.boxcolor1 {
  background-color: pink;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}
tr.boxcolor1:hover {
  background-color: #pink;
  font-family: Geneva, Verdana, Arial, sans-serif;
  color: red;
  font-size: 12px;
  padding: 1px;
}
tr.boxcolor2 {
  background-color: pink;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}
tr.boxcolor2:hover {
  background-color: pink;
  font-family: Geneva, Verdana, Arial, sans-serif;
  color: red;
  font-size: 12px;
  padding: 1px;
}

tr.box-menu {
  background-color: pink;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}
tr.box-menu:hover {
  background-color: pink;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: Bold;
  color: red;
  padding: 1px;
}

td.box {
  font-family: Geneva, Verdana, Arial, sans-serif;
}
td.boxtop {
	background-color: red;
  height: 1px;
}
td.box-top-left {
	background-color: red;
  width: 1px;
  height: 1px;
}
td.box-top-right {
	background-color: red;
  width: 1px;
  height: 1px;
}
td.box-left {
	background-color: red;
  width: 1px;
}
td.box-right {
	background-color: red;
  width: 1px;
}
td.box-bottom {
	background-color: red;
  height: 1px;
}
td.box-bottom-left {
	background-color: red;
  width: 1px;
  height: 1px;
}
td.box-bottom-right {
	background-color: red;
  width: 1px;
  height: 1px;
}

td.calendar-day-null {
	background-color: pink;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}

td.calendar-day-free {
  background-color: white;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}

td.calendar-day-free:hover {
  background-color: yellow;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}

td.calendar-day-busy {
  background-color: white;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}

td.calendar-day-busy:hover {
  background-color: yellow;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}

td.calendar-time-free {
  background-color: white;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}

td.calendar-time-free:hover {
  background-color: yellow;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 1px;
}
#tooltip {
  position: absolute;
  left: -300px;
  width: 150px;
  border: 1px solid black;
  padding: 1px;
  font-family: Geneva, Verdana, Arial, sans-serif;
  font-size: 12px;
  background-color: red;
  visibility: hidden;
  z-index: 100;
}
</style>
