
module octopussyweb 1.0;

require {
	type unconfined_t;
	type automount_t;
	type semanage_t;
	type init_t;
	type setrans_t;
	type mysqld_t;
	type var_lib_nfs_t;
	type getty_t;
	type load_policy_t;
	type initrc_t;
	type xfs_t;
	type var_t;
	type procmail_t;
	type sysctl_fs_t;
	type bluetooth_t;
	type initrc_exec_t;
	type gpm_t;
	type system_dbusd_t;
	type restorecond_t;
	type pcscd_t;
	type fsdaemon_t;
	type port_t;
	type auditd_t;
	type syslogd_t;
	type udev_t;
	type sendmail_t;
	type httpd_t;
	type audisp_t;
	type initrc_var_run_t;
	type var_lib_t;
	type cupsd_t;
	type inetd_t;
	type portmap_t;
	type kernel_t;
	type hald_t;
	type apmd_t;
	type rpm_t;
	type avahi_t;
	type system_mail_t;
	type rpcd_t;
	type crond_t;
	class process ptrace;
	class capability sys_resource;
	class file { write getattr read unlink ioctl };
	class dir { read getattr search };
	class tcp_socket name_connect;
}

#============= httpd_t ==============
allow httpd_t apmd_t:dir { getattr search };
allow httpd_t audisp_t:dir { getattr search };
allow httpd_t auditd_t:dir { getattr search };
allow httpd_t automount_t:dir { getattr search };
allow httpd_t avahi_t:dir { getattr search };
allow httpd_t bluetooth_t:dir { getattr search };
allow httpd_t crond_t:dir { getattr search };
allow httpd_t cupsd_t:dir { getattr search };
allow httpd_t fsdaemon_t:dir { getattr search };
allow httpd_t getty_t:dir { getattr search };
allow httpd_t gpm_t:dir { getattr search };
allow httpd_t hald_t:dir { getattr search };
allow httpd_t inetd_t:dir { getattr search };
allow httpd_t init_t:dir { getattr search };
allow httpd_t initrc_exec_t:file getattr;
allow httpd_t initrc_t:dir { getattr search };
allow httpd_t initrc_var_run_t:file { getattr unlink };
allow httpd_t kernel_t:dir { getattr search };
allow httpd_t load_policy_t:dir getattr;
allow httpd_t mysqld_t:dir { getattr search };
allow httpd_t pcscd_t:dir { getattr search };
allow httpd_t port_t:tcp_socket name_connect;
allow httpd_t portmap_t:dir { getattr search };
allow httpd_t procmail_t:dir { getattr search };
allow httpd_t restorecond_t:dir { getattr search };
allow httpd_t rpcd_t:dir { getattr search };
allow httpd_t rpm_t:dir { getattr search };
allow httpd_t self:capability sys_resource;
allow httpd_t self:process ptrace;
allow httpd_t semanage_t:dir { getattr search };
allow httpd_t sendmail_t:dir { getattr search };
allow httpd_t setrans_t:dir { getattr search };
allow httpd_t sysctl_fs_t:dir search;
allow httpd_t syslogd_t:dir { getattr search };
allow httpd_t system_dbusd_t:dir { getattr search };
allow httpd_t system_mail_t:dir getattr;
allow httpd_t udev_t:dir { getattr search };
allow httpd_t unconfined_t:dir { getattr search };
allow httpd_t var_lib_nfs_t:dir search;
allow httpd_t var_lib_t:file write;
allow httpd_t var_t:dir read;
allow httpd_t var_t:file { read write ioctl getattr };
allow httpd_t xfs_t:dir { getattr search };
